@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

@layer base {
  html {
    font-family: "Manrope", "IBM Plex Sans", "Segoe UI", sans-serif;
  }

  body {
    @apply text-slate-900;
  }
}
